@using Bookish.Models.View;
@model LoansViewModel;

@{
    ViewData["Title"] = "Current Loans";
}
<div class="text-center">
    <h1 class="display-4">Current Loans</h1>
    <ul>
        @{
            foreach (var loan in Model.Loans)
            {
                <li>Borrower Id: @loan.MemberId</li>
                <li>Borrower Name: @loan.Member.Name</li>
                <li>Book Id: @loan.BookId</li>
                <li>Book Title: @loan.Book.Title</li>
                <li>Book Title: @loan.Book.Author</li>
                <li>Issue Date: @loan.IssueDate</li>
                <li>Due Date: @loan.DueDate</li>
                <a href="/Books/@loan.LoanId/Return">Return Book</a>
            }
        }
    </ul>