@using Bookish.Models;
@model BooksView;

@{
    ViewData["Title"] = "Book Catalogue";
}

<div>
    <ul>
        @{
            foreach (var book in Model.Books)
            {
                <li>Title: @book.Title, Author: @book.Author, Total Copies: @book.TotalCopies, Available Copies: @book.AvailableCopies
                <a href="/Books/catalogue/@book.BookId">View</a> 
                <a href="/Books/@book.BookId/EditBook">Edit</a>
                @if (@book.AvailableCopies == @book.TotalCopies)
                {
                    <a href="/Books/@book.BookId/DeleteBook">Delete</a>
                }
                </li>
            }
        }
    </ul>